.table {
    width: 100%;
}
.darkTheme .fiat-crypto-table table {
    width: 100%;
    max-width: 100%;
    border-collapse: separate;
    border-spacing: 0 1em;
    margin: 0;
}
.text-center {
    text-align: center!important;
}
.table {
    width: 100%;
    margin-bottom: 1rem;
    
    
}

.tr {
    display: table-row;
    vertical-align: inherit;
    background-color:#2e3241;
    border-color: inherit;
    border-radius: 29px;
    margin-bottom:20px;
}
table {
    border-collapse: collapse;
    
}
table {
    display: table;
    
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: rgb(134, 55, 55);
}
.color-green {
    color:rgb(72, 192, 186);
}
.pointer {
    color :gray;
    font-size:22px;
    font-family: sans-serif;
}